@use "variables" as *;

body {
    background-color: $secondaryColour;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.blogWrapper {
    max-width: 1200px;
    width: 61%;
    margin: 0 0 0 auto;
}

.button {
    color: $black;
    background-color: $tertiaryColour;
    padding: 5px 10px;
    border: none;
    font-family: 'Josefin Sans';
    font-size: 1.12rem;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5rem;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        background-color: $primaryColour;
        color: $white;
    }
    &:focus {
        background-color: $primaryColour;
        color: $white;
    }
}

.btnYellow {
    background-color: $tertiaryColour;
    color: $black;
    cursor: pointer;
    transition: 0.1s;
    padding: 10px 25px 5px;
    &:hover {
        background-color: $primaryColour;
        color: $white;
    }
    &:focus {
        background-color: $primaryColour;
        color: $white;
    }
}

.btnBlack {
    background-color: $black;
    color: $white;
    cursor: pointer;
    transition: 0.1s;
    padding: 10px 25px 5px;
    &:hover {
        background-color: $tertiaryColour;
        color: $black;
    }
    &:focus {
        background-color: $tertiaryColour;
        color: $black;
    }
}