@use "variables" as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  p {
    margin: 5px 0;
    a {
      font-weight: normal;
      cursor: pointer;
      &:hover {
        border-bottom: solid $tertiaryColour;
      }
    }
  }
}