@use "variables" as *;

header {
    background-image: url(../../assets/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    h1 {
        display: flex;
        flex-direction: column;
        span {
            background-color: $white;
            color: $black;
            width: fit-content;
            padding: 15px 10px 0;
            margin-bottom: 15px;
        }
    }
    .heroImage {
        
    }
}
.navBar {
    display: flex;
    margin-top: 2rem;
    li {
        padding-left: 50px;
        a {
            font-family: 'Josefin Sans';
            letter-spacing: 1px;
            width: max-content;
        }
        &:hover {
        border-bottom: 3px $tertiaryColour solid;
        width: max-content;
        }
        &:focus {
            border-bottom: 3px $tertiaryColour solid;
            width: max-content;
        }
    }
    
}
