@use "variables" as *;

header {
    background-image: url(../../assets/home-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    h1 {
        display: flex;
        flex-direction: column;
        span {
            background-color: $white;
            color: $black;
            width: fit-content;
            padding: 15px 10px 0;
            margin-bottom: 15px;
        }
    }
    .heroImage {
        position: absolute;
        right: 0;
        bottom: -100px;
        max-width: 100%;
        height: auto;
    }
    .navBar {
        display: flex;
            li {
            padding: 50px 20px 10px 0px;
                a {
                    font-family: 'Josefin Sans';
                    letter-spacing: 1px;
                    width: max-content;
                    margin: 20px 20px 20px 0px;
                    padding-bottom: 5px;
                    &:hover {
                    border-bottom: solid $tertiaryColour ;
                    width: max-content;
                    }
                    &:focus {
                        border-bottom: solid $tertiaryColour ;
                        width: max-content;
                    }
                }
                
            }
    }

}

.blog {
    background-image: url(../../assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    .heroImage {
        position: absolute;
        right: 0;
        bottom: -300px;
        width: 60%;
        height: auto;
        box-shadow: -20px 20px $tertiaryColour;
    }
}