@use "variables" as *;
@use "baseStyles";

.sectionOne {
  background-color: $primaryColour;
  padding-top: 250px;
  ul {
    display: flex;
    li {
      display: flex;
      flex-direction: row;
      margin: 30px;
      .infoContent {
        padding-left: 25px;
      }
    }
    .iconInfoContainer {
      display: flex;
      background-color: $tertiaryColour;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      justify-content: center;
      align-items: center;
    }
  }
  .bottomList {
    padding-bottom: 150px;
  }
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  .articleContents {
  display: flex;
  flex-direction: column;
  padding: 75px;
  }
  .articleOne {
    display: flex;
    align-items: flex-start;

    .imageArticle {
      width: 150%;
      margin-top: -20px;
      .articleImg {
        box-shadow: 15px 15px $tertiaryColour;
      }
    }
  }
  .articleTwo {
    
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    .articleImg {
      box-shadow: -15px 15px $tertiaryColour;
      margin-bottom: -75px;
    }
    .articleContents {
      align-items: flex-end;
    }
  }
}

.sectionThree {
  background-color: $primaryColour;
  display: flex;
  .promotionOffer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 150px 0px 100px 0px;
  }
}

.sectionFour {
  background-image: url(../../assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 63vh;
}

.sectionFive {
  padding-top: 150px;
  display: flex;
  background-color: $primaryColour;
  padding-bottom: 200px;
  .spaces {
    display: flex;
    .restaurant {
      box-shadow: -15px 15px $tertiaryColour;
      max-width: 100%;
      height: 375px;
    }
  }
    .spacesArticle {
      justify-content: flex-end;
      padding-left: 250px;
    }
  }

.sectionSix {
  padding: 100px;
  ul {
    display: flex;
    justify-content: space-between;
    .gallery {
      max-width: 100%;
      height: auto;
    }
  }
} 

.blogSection {
  display: flex;
}

.employment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  img {
    margin-top: -250px;
    width: 60vw;
    height: auto;
    box-shadow: -20px 20px $tertiaryColour;
  }
  .blogPost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}