// Colours:
$primaryColour: #2b331b;
$secondaryColour: #171b0e;
$tertiaryColour: #ffd300;
$black: #0f0f0f;
$white: #fff;

// Fonts:
$headerHeading: "Josefin Sans";
$headingFont: "Josefin Sans";
$bodyFont: "Barlow";