html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #2b331b;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.blogWrapper {
  max-width: 1200px;
  width: 61%;
  margin: 0 0 0 auto;
}

.button {
  color: #0f0f0f;
  background-color: #ffd300;
  padding: 5px 10px;
  border: none;
  font-family: "Josefin Sans";
  font-size: 1.12rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.5rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.button:hover {
  background-color: #2b331b;
  color: #fff;
}
.button:focus {
  background-color: #2b331b;
  color: #fff;
}

.btnYellow {
  background-color: #ffd300;
  color: #0f0f0f;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding: 10px 25px 5px;
}
.btnYellow:hover {
  background-color: #2b331b;
  color: #fff;
}
.btnYellow:focus {
  background-color: #2b331b;
  color: #fff;
}

.btnBlack {
  background-color: #0f0f0f;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding: 10px 25px 5px;
}
.btnBlack:hover {
  background-color: #ffd300;
  color: #0f0f0f;
}
.btnBlack:focus {
  background-color: #ffd300;
  color: #0f0f0f;
}

/* Fonts: font-family: 'Barlow', sans-serif;
            font-family: 'Josefin Sans', sans-serif; */
@font-face {
  font-family: "Josefin Sans";
  src: url(../../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf), url(../../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf), url(../../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Barlow";
  src: url(../../fonts/Barlow/Barlow-Regular.ttf);
  font-weight: normal;
}
html {
  font-size: 125%;
}

body {
  font-family: "Barlow";
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
}

h2, h3, h4 {
  font-family: "Josefin Sans";
  font-weight: normal;
  color: #fff;
  margin: 0;
}

h1 {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: 3.45rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.065rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.9rem;
  letter-spacing: 0.04rem;
}

h5 {
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 0.2rem;
  letter-spacing: 0.04rem;
}

p {
  line-height: 1.4rem;
}

ul, li, a {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
}

header {
  background-image: url(../../assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
}
header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header h1 span {
  background-color: #fff;
  color: #0f0f0f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 10px 0;
  margin-bottom: 15px;
}
header .heroImage {
  position: absolute;
  right: 0;
  bottom: -100px;
  max-width: 100%;
  height: auto;
}
header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .navBar li {
  padding: 50px 20px 10px 0px;
}
header .navBar li a {
  font-family: "Josefin Sans";
  letter-spacing: 1px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px 20px 20px 0px;
  padding-bottom: 5px;
}
header .navBar li a:hover {
  border-bottom: solid #ffd300;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
header .navBar li a:focus {
  border-bottom: solid #ffd300;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.blog {
  background-image: url(../../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
.blog .heroImage {
  position: absolute;
  right: 0;
  bottom: -300px;
  width: 60%;
  height: auto;
  -webkit-box-shadow: -20px 20px #ffd300;
          box-shadow: -20px 20px #ffd300;
}

.contact {
  background-image: url(../../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 72vh;
}

.sectionOne {
  background-color: #2b331b;
  padding-top: 250px;
}
.sectionOne ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sectionOne ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px;
}
.sectionOne ul li .infoContent {
  padding-left: 25px;
}
.sectionOne ul .iconInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffd300;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sectionOne ul .iconInfoContainer:hover {
  scale: 1.15;
}
.sectionOne .bottomList {
  padding-bottom: 150px;
}

.sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-color: #171b0e;
}
.sectionTwo .articleContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  padding: 5% 6%;
}
.sectionTwo .articleOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sectionTwo .articleOne .imageArticle {
  width: 150%;
  margin-top: -20px;
}
.sectionTwo .articleOne .imageArticle .articleImg {
  -webkit-box-shadow: 15px 15px #ffd300;
          box-shadow: 15px 15px #ffd300;
  width: 90%;
}
.sectionTwo .articleTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sectionTwo .articleTwo .imageArticle {
  width: 150%;
}
.sectionTwo .articleTwo .imageArticle .articleImg {
  -webkit-box-shadow: -15px 15px #ffd300;
          box-shadow: -15px 15px #ffd300;
  margin-bottom: -75px;
  width: 90%;
  float: right;
}
.sectionTwo .articleTwo .articleContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.sectionThree {
  background-color: #2b331b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sectionThree .promotionOffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0px 100px 0px;
}

.sectionFour {
  background-image: url(../../assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 63vh;
}

.sectionFive {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2b331b;
  padding-bottom: 100px;
}
.sectionFive .spaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sectionFive .spaces .restaurant {
  -webkit-box-shadow: -15px 15px #ffd300;
          box-shadow: -15px 15px #ffd300;
  max-width: 100%;
  height: 375px;
}
.sectionFive .spacesArticle {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 250px;
}

.sectionSix {
  background-color: #171b0e;
  padding: 100px;
}
.sectionSix ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectionSix ul .gallery {
  max-width: 100%;
  height: auto;
}
.sectionSix ul .gallery .galleryImg {
  max-width: 100%;
}

.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.pageContainer .blogContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 70vw;
  min-width: 300px;
}
.pageContainer .blogContents .blogImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pageContainer .blogContents .blogImgContainer img {
  margin-top: -250px;
  width: 150%;
  -webkit-box-shadow: -20px 20px #ffd300;
          box-shadow: -20px 20px #ffd300;
}
.pageContainer .blogContents .blogContainer {
  margin-left: -20px;
  padding: 4.5rem;
  border-left: 3px solid #ffd300;
  border-bottom: 3px solid #ffd300;
}
.pageContainer .blogContents .blogContainer h2 {
  text-transform: uppercase;
  color: #ffd300;
}
.pageContainer .blogContents .commentAndFormContainer {
  margin: 0 auto;
  height: auto;
  max-width: 70vw;
}
.pageContainer .blogContents .commentAndFormContainer .commentContainer {
  padding: 75px;
}
.pageContainer .blogContents .commentAndFormContainer .commentContainer h2 {
  text-transform: uppercase;
}
.pageContainer .blogContents .commentAndFormContainer .commentContainer .commentPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}
.pageContainer .blogContents .commentAndFormContainer .commentContainer .commentPost .commentPostContent {
  padding-left: 40px;
}
.pageContainer .blogContents .commentAndFormContainer .commentContainer .commentPost .commentPostContent h5 {
  color: #ffd300;
  margin-top: 3px;
}

.formContainerBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.formContainerBlog form {
  padding: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 850px;
  min-width: 300px;
  background-color: #2b331b;
}
.formContainerBlog form fieldset {
  border: none;
}
.formContainerBlog form fieldset .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-bottom: 20px;
  border: none;
}
.formContainerBlog form fieldset .nameEmail .formName {
  width: 90%;
}
.formContainerBlog form fieldset .nameEmail .formEmail {
  width: 90%;
}
.formContainerBlog form fieldset .nameEmail label {
  display: none;
}
.formContainerBlog form fieldset .nameEmail input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffd300;
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 0 0.5rem 1rem;
  width: 100%;
}
.formContainerBlog form fieldset .nameEmail input[type=text] {
  color: #fff;
}
.formContainerBlog form fieldset textarea {
  border: none;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffd300;
  resize: none;
  width: 100%;
  padding: 1rem;
}
.formContainerBlog form fieldset .btnForm {
  margin-top: 40px;
  width: 100%;
}
.formContainerBlog form fieldset .btnForm:hover {
  background-color: #171b0e;
}
.formContainerBlog form fieldset .btnForm:focus {
  background-color: #171b0e;
}

.recent {
  margin-top: 150px;
}
.recent .recentImg {
  z-index: 10;
}
.recent .recentImg img {
  width: 70%;
}
.recent .recentShadow {
  width: 61%;
  margin: -620px 0 0 110px;
  height: 620px;
  background-color: #171b0e;
  z-index: 9;
}
.recent .recentContainer {
  background-color: #171b0e;
  width: 61%;
  margin-left: 110px;
  height: 490px;
  padding: 15px;
}
.recent .recentContainer h3 {
  color: #ffd300;
  text-transform: uppercase;
}
.recent .recentContainer .featured {
  padding-bottom: 75px;
}
.recent .recentContainer .recentPost li {
  list-style: disc;
  margin-left: 20px;
}

.mainContact {
  background-color: #2b331b;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0;
  background-color: #2b331b;
}

.formContainer form {
  margin-top: -270px;
  padding: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 850px;
  min-width: 300px;
  background-color: #171b0e;
  -webkit-box-shadow: 20px 20px #ffd300;
          box-shadow: 20px 20px #ffd300;
}
.formContainer form fieldset {
  border: none;
}
.formContainer form fieldset .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-bottom: 20px;
  border: none;
}
.formContainer form fieldset .nameEmail .formName {
  width: 90%;
}
.formContainer form fieldset .nameEmail .formEmail {
  width: 90%;
}
.formContainer form fieldset .nameEmail label {
  display: none;
}
.formContainer form fieldset .nameEmail input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffd300;
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 0 0.5rem 1rem;
  width: 100%;
}
.formContainer form fieldset .nameEmail input[type=text] {
  color: #fff;
}
.formContainer form fieldset textarea {
  border: none;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffd300;
  resize: none;
  width: 100%;
  padding: 1rem;
}
.formContainer form fieldset .btnForm {
  margin-top: 40px;
  width: 100%;
}

.contactInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactInformation .socialMediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactInformation li {
  padding-right: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f0f0f;
}
footer p {
  margin: 5px 0;
}
footer p a {
  font-weight: normal;
  cursor: pointer;
}
footer p a:hover {
  border-bottom: solid #ffd300;
}

@media (max-width: 1200px) {
  .heroImage {
    display: none;
  }
  .sectionOne {
    padding-top: 50px;
  }
  .sectionTwo .articleOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionTwo .articleOne .imageArticle {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sectionTwo .articleTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionTwo .articleTwo .imageArticle {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  .sectionTwo .articleTwo .articleContents {
    padding-top: 130px;
  }
  .sectionSix {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
  .pageContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pageContainer .blogImage1 {
    display: none;
  }
  .pageContainer .blogContents .blogContainer {
    border: none;
  }
  .pageContainer .blogContents .blogContainer .commentAndFormContainer .commentContainer {
    padding-bottom: 20px;
  }
  .pageContainer .recent {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
  .pageContainer .recent .recentImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .pageContainer .recent .recentShadow {
    display: none;
  }
  .pageContainer .recent .recentContainer {
    margin-left: auto;
    margin-right: 50px;
    height: auto;
  }
  .pageContainer .recent .recentContainer .featured {
    padding-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .spaces {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .spaces .spacesArticle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    padding-top: 75px;
  }
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex .formContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactFlex .contactInformation {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .pageContainer .blogContents .commentAndFormContainer {
    margin: 0 0;
  }
  .pageContainer .blogContents .commentAndFormContainer .commentContainer {
    padding: 0;
  }
  .formContainerBlog form fieldset .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent .recentImg img {
    display: none;
  }
  .recent .recentContainer {
    margin: 0 auto;
  }
  .sectionOne ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  header h1 {
    font-size: 3rem;
  }
  .sectionThree .promotionOffer {
    padding: 50px 0;
  }
  .sectionFour {
    background-position: center;
    height: 50vh;
  }
  .sectionSix .image2 {
    display: none;
  }
  .sectionSix .image3 {
    display: none;
  }
  .blog {
    background-position: center;
  }
  .pageContainer .blogContents .blogContainer {
    padding: 20px 0;
  }
  .pageContainer .blogContents .blogContainer h5 {
    font-size: 1rem;
  }
  .pageContainer .blogContents .commentAndFormContainer .commentContainer .commentPost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pageContainer .blogContents .commentAndFormContainer .commentContainer .commentPost .commentPostContent {
    padding-left: 0;
    padding-top: 20px;
  }
  .pageContainer .blogContents .commentAndFormContainer .commentContainer .commentPost .commentPostContent h5 {
    font-size: 0.9rem;
  }
  .formContainerBlog form {
    padding: 0;
  }
  .pageContainer .recent .recentContainer {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nameEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}